<!-- blog carousel -->
<main>
  <section>
    <div class="blog">
      <div class="container">
        <div class="owl-carousel owl-theme blog-post">
          <% @articles["articles"].each do |article| %>
            <div class="blog-content" data-aos="fade-right" data-aos-delay="2000">
              <%= image_tag article["urlToImage"] || '', alt: "post-1", width: '70%', height: '70%' %>
              <div class="blog-title">
                <h3><%= link_to article["title"], article["url"] %></h3>
                <%# <button class="btn btn-blog">Fashion</button>
                <span>2 minutes</span> %>
              </div>
            </div>
          <% end %>
        </div>
        <div class="owl-navigation">
          <span class="owl-nav-prev"><i class="fas fa-long-arrow-alt-left"></i></span>
          <span class="owl-nav-next"><i class="fas fa-long-arrow-alt-right"></i></span>
        </div>
      </div>
    </div>
  </section>
</main>

