/* font-family: Abel */
@font-face{
  font-family: Abel;
  src: url('/assets/Abel/Abel-Regular.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* font-family: Anton */
@font-face{
  font-family: Anton;
  src: url('app/assets/Anton/Anton-Regular.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* font-family: Josefin */
@font-face{
  font-family: Josefin;
  src: url('app/assets/Josefin_Sans/JosefinSans-Regular.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* font-family: Lexend */
@font-face{
  font-family: Lexend;
  src: url('app/assets/Lexend_Deca/LexendDeca-Regular.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* font-family: Livvic */
@font-face{
  font-family: Livvic;
  src: url('app/assets/Livvic/Livvic-Regular.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}